<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quan ly san pham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename=product.image) }}" alt="">
            </div>
            <div class="col-md-6">
                <h3>
                    <ul>
                        {% for k, v in product.items() %}
                        <li>{{ k }}: {{ v }}</li>
                        {% endfor %}
                    </ul>
                </h3>
            </div>
        </div>
    </div>

</body>
</html>