<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Quản lý sản phẩm</h1>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <td>Description</td>
                <td>Price</td>
            </tr>
            {% for product in products %}
            <tr>
                <td><img width="100px" src="{{ product.image }}" alt=""></td>
                <td>{{ product.id }}</td>
                <td><a href="{{ url_for('product_detail', product_id = product.id) }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ "{:,.1f}".format(product.price) }} VND</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>