<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Quản lý sản phẩm</h1>
        <div>
            <form action="">
                <div class="form-group">
                    <input name="kw" type="text" class="form-control" placeholder="Nhap tu khoa tim kiem"
                           {% if kw %}
                           value="{{ kw }}"
                           {% endif %}>
                </div>

                <div class="row form-group">
                    <div class="col-md-6">
                        <input name="from_price" type="number" class="form-control" placeholder="Nhap gia bat dau"
                        {% if from_price %}
                               value="{{ from_price }}"
                        {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <input name="to_price" type="number" class="form-control" placeholder="Nhap gia ket thuc"
                        {% if to_price %}
                               value="{{ to_price }}"
                        {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Tim kiem">
                </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <td>Description</td>
                <td>Price</td>
            </tr>
            {% for product in products %}
            <tr>
                <td><img width="100px" src="{{ product.image }}" alt=""></td>
                <td>{{ product.id }}</td>
                <td><a href="{{ url_for('product_detail', product_id = product.id) }}">{{ product.name }}</a></td>
                <td>{{ product.description }}</td>
                <td>{{ "{:,.1f}".format(product.price) }} VND</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>